<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>717373735261-8fh9mtumbrfi9skd280e6omfg4q4897e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.717373735261-8fh9mtumbrfi9skd280e6omfg4q4897e</string>
	<key>API_KEY</key>
	<string>AIzaSyC8Hmr1-1tsmrN8RdsOkX-z5Oq7wQmLSOM</string>
	<key>GCM_SENDER_ID</key>
	<string>717373735261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sahibulnf.quranApp</string>
	<key>PROJECT_ID</key>
	<string>hi-quran</string>
	<key>STORAGE_BUCKET</key>
	<string>hi-quran.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717373735261:ios:3f22e86ea85aa451baa8b4</string>
</dict>
</plist>